@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@keyframes slide-in {

    from{
        transform: translateX(-600px);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}
body {
    min-height: 150vh;
    background-color: black; 
    background-image: linear-gradient(to bottom, black, #5E32D1); 
}
.home{
    display: inline-block;
    width: 100%;
}
a{
    text-decoration: none;
    font-family: 'montserrat';
    color: white;
    transition: all 0.3s ease;
}
ul.navlinks li{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    
}
.navbarcontainer{
    background-color:black;
    
}
nav.navbar{
    display: flex;
    height:min-content;
    margin-left: 30px;
    margin-right: 50px;
    list-style: none;
    
}
ul.navlinks{
    display: flex;
    float: right;
    width: 100%;
    justify-content: end;
    align-items: baseline;
    margin-left: 1cap;
    margin-top: 19px;
    height: fit-content;
}
ul button{
    min-width: 140px;
    height: 40px;
    color: #fff;
    background-color: #5E32D1;
    border: 1px solid #5E32D1; 
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button.Get-the-app{
    background-color: #5E32D1;
    height: 40px;
    width: 200px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 500;
    color: white;
    border-radius: 4px;
    border-style: none;
    transition: all 0.3s ease;
    cursor: pointer;
    animation: slide-in 0.6s ease 0.1S; 
    animation-fill-mode: backwards;
}
.buttons{
    justify-content: center;

}
.logo{
    font-size: 25px;
    font-weight: 550;
    min-width:  180px;
    margin-top: 20px;
}
.logo img{
    height: 30px;
    margin-right: 8px;
    
}
.logo a{
    transition: all 0.5s ease;
    display: flex;
}
.buttons{
    display: flex;
    
}
li.navlink{
    font-size: 17px;
    font-weight: 300;
}

.Description-container{
    width: 100%;
    margin-top: 100px;
    font-family: 'montserrat';
    text-align: center;
    line-height: 70px;
    font-size: 40px;
    font-weight:0 ;
    color: white;
    animation: slide-in 0.6s ease; 
}

button:hover{
    background-color: transparent;
    border: 1px solid #5E32D1; 
    border-radius: 5px;
}
li{
    list-style: none;
}
li.navlink a:hover{
    text-decoration: underline;
    color: #5E32D1;
    font-size: 18px;
}
.logo a:hover{
    color: #5E32D1;
}

    
